* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.1rem;
  background-color: whitesmoke;
}

button {
  padding: 8px;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid lightgray;
  background: whitesmoke;
}